@import "tailwindcss";

body {
  font-family: "Manrope", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #15171b00;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.vite-hero-bg {
  background: radial-gradient(circle at 30% 220%, #26354e 35%, transparent 60%),
    radial-gradient(circle at 70% 220%, #3c2550 35%, transparent 60%);
  background-color: #101010; /* Optional fallback */
}

.vite-hero-bg2 {
  background: radial-gradient(circle at 30% -70%, #26354e 25%, transparent 60%),
    radial-gradient(circle at 70% -70%, #492b64 25%, transparent 60%);
  background-color: #101010; /* Optional fallback */
}
